.nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	column-gap: 0.5rem;
	padding: 1rem;
}

.navButton {
	width: 2rem;
	height: 2rem;
}

.main {
										/*height of navbar*/
	min-height: calc(100vh - 4rem);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titleDiv {
	display: flex;
	justify-content: space-between;
	width: 45rem;
}

.container {
	width: 45rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.langDiv {
	height: 5rem;
	width: 44rem;
	padding-right: 1rem;
	border: white 2px solid;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
