#body {
	display: grid;
	grid-template-columns: 20rem calc(100vw - 20rem);
	grid-template-rows: 3rem calc(100vh - 3rem);
	grid-template-areas:
	'leftBar topBar'
	'leftBar main';
}

#topBar {
	grid-area: topBar;
	display: grid;
	grid-template-columns: [search]10rem auto [filter]max-content [sort]max-content;
	padding: 0 1rem;
	column-gap: 1.5rem;
}

#topBar > * {
	display: flex;
	align-items: center;
	height: 3rem;
	gap: 0.5rem;
}

.search { grid-area: search; }
.filter { grid-area: filter; }
.sort { grid-area: sort; }

#leftBar {
	grid-area: leftBar;
}

#leftBarLogo {
	height: 3rem;
	margin: 0;
}

.leftBarItem {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding-left: 1rem;
}

.spacer {
	height: 1px;
	background-color: white;
}

#tags li {
	list-style-type: none;
}

#main { grid-area: main; }

.record {
	border: solid white 1px;
	display: grid;
	grid-template-columns: [header]auto [logo]4rem [rating]5rem [menu]3.5rem;
	margin: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.recordHeader { grid-area: header; }
.recordLogo { grid-area: logo; }
.recordRating {
	grid-area: rating;
	font-weight: 700;
}
.recordMenu { grid-area: menu; }

#addButton {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	height: 4rem;
	width: 4rem;
	background-color: white;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}
