.main {
										/*height of navbar*/
	min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	column-gap: 0.5rem;
	padding: 1rem;
}

.navButton {
	width: 2rem;
	height: 2rem;
}
