.Items {
	display: grid;
	grid-template-columns: 2.25rem auto 3rem;
	padding-left: 1rem;
	gap: 0 1rem;
	align-items: center;
	text-align: start;
}

#Spacer {
	height: 100%;
	background-color: white;
}

.tag {
	list-style: none;
}

.homeGoalLink {
	text-decoration: none;
	color: white;
}

.hidden {
	display: none;
}

#LeftBar {
	grid-area: leftBar;
	height: 100vh;
	display: grid;
	grid-template-rows: 3rem 4rem 2px 4rem auto 4rem;
}

