.record {
	border: solid white 1px;
	display: grid;
	grid-template-columns: auto 4rem min-content 2rem 2rem;
	margin: 2rem;
	width: calc(100% - 4rem);
	height: 4rem;
	padding: 0 1rem;
	gap: 1rem;
}

.record:hover {
	cursor: pointer;
}

.record > * {
	display: flex;
	align-items: center;
}

.menu {
	position: absolute;
	margin-top: 4rem;
	background-color: white;
	color: black;
	display: none;
}

.visible {
	display: initial;
}
