.record {
	background-color: rgb(25, 25, 25);
	border: solid white 1px;
	display: grid;
	grid-template-columns: auto 4rem min-content 2rem 2rem;
	margin: 2rem;
	width: calc(100% - 6rem);
	height: 4rem;
	padding: 0 1rem;
	gap: 1rem;
}

.record > * {
	display: flex;
	align-items: center;
}

.h2 {
	font-weight: bolder;
	font-size: 1.5em;
}

.h3 {
	font-weight: bold;
	font-size: 1.17em;
}

.menu {
	position: absolute;
	margin-top: 4rem;
	background-color: white;
	color: black;
	display: none;
}

.visible {
	display: initial;
}
