.header { grid-area: header; }
.logo { grid-area: logo; }
.rating {
	grid-area: rating;
	font-weight: 700;
	align-self: center;
}

.modal {
	border-radius: 20px;
	width: 50rem;
	height: 50rem;
	background-color: black;
	position: absolute;
	top: calc(50% - 27rem);
	left: calc(50% - 27rem);
	padding: 2rem;

	display: grid;
	grid-template-rows: 10rem auto 5rem 1.5rem;
}

